.container {
    display: flex;
    gap: 30px;
    margin: 10px 20px;
}

.search {
    width: 40%;
}

.result-search {
    width: 60%;
}


input {
    padding: 10px;
    border-radius: 16px;
    border: 1px solid #ccc;
    width: 100%;
    color:  #1a1919;
    font-weight: 600;
} 

input:focus {
    outline: none;
    border: 1px solid #000;
}

.search form, .result-search div {
    margin-top: 10px;
}

.btn-search {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: darkblue;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
}
.btn-search:hover {
    background-color: #0000ff;
}

.alert-on,
.alert-off {
    display: flex;
    align-items: center;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 16px;
    width: 100%;
}
/* heredar estilos de alert-on y calbiar color de fondo */  
.alert-off {
    margin-top: 20px;
    background-color: coral;
}
p {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    font-weight: 500;
    color: #1a1919;
}

span {
    font-weight: 700;
    color: #1a1919;
}

.card-container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .search {
        width: 100%;
    }
    .result-search {
        width: 100%;
    }
}



